body{
    background-color: #F7DB4F;
    font-family: Helvetica, Futura, Verdana, Georgia;
}
footer{
    text-align: right;
}
.news {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5em;
    line-height:0.8em;
    color:black;
    padding:0.2em;
}  
.index-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.index-container > div {
    margin: 1px;
    height: 30%;
    width: 20%;
    padding: 2%;
} 
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.flex-container > div {
  margin: 3px;
  height: 30%;
  width: 10.8%;
  padding: 10px;
}
.stock_id{
    display: inline-block;
    font-size: 175%;
    text-align: center;
    vertical-align: middle;
    height: 50%;
    width: 100%;
}
.stock_price{
    font-size : 1.45vw;
    vertical-align: bottom;
    float: left; 
    height: 50%;
}
.stock_percentage{
    font-size: 1.45vw;
    vertical-align: bottom;
    height: 50%;
    float: right;
}