body{
    background-color: #F7DB4F;
    font-family: Platform, Flash, Noteworthy, Helvetica;
}
footer{
    text-align: right;
}
.news {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5em;
    line-height:0.8em;
    color:black;
    padding:0.2em;
}  
.index-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.index-container > div {
    width: 122px;
    height: 100px;
    margin: 10px;
} 
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.flex-container > div {
  width: 122px;
  height: 100px;
  margin: 10px;
}
.stock_id{
    display: inline-block;
    font-size: 120%;
    text-align: center;
    vertical-align: middle;
    height: 50%;
    width: 100%;
}
.stock_price{
    display: inline-block;
    font-size : 90%;
    vertical-align: bottom;
    float: left; /* Necessary */
    height: 50%;
    width: 60%;
}
.stock_percentage{
    display: inline-block;
    font-size: 80%;
    vertical-align: bottom;
    height: 50%;
    width: 40%;
}