<!DOCTYPE html>
<html>
<head>
    <title>Stock Dashboard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body onload="load()">
<div id="loader" class="center"></div> 
<div id="stocks_table"></div>
<br>
<hr> 
<marquee class="news" id="news" direction="left" scrollamount="5" behavior="scroll"></marquee> 
<hr>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>