<div class="flex-container" onload="cellColor()">
{% for stock_id,stockdata in stock_data.items() %}
    <div class="stock-data">
    <br>
    <span class="stock_id"><b>{{ stock_id }}</b></span>
    <br>
    <span class="stock_price">${{ stockdata[0] }}</span>
    <span class="stock_percentage">{{ "+" if stockdata[1] >= 0}}{{ stockdata[1] }}%</span>
    </div>
{% endfor %}
</div>
<br>
<div class="index-container" onload="cellColor()">
    {% for indexname,indexdata in index_datas.items() %}
        <div class="stock-data">
        <span class="stock_id"><b>{{ indexname }}</b></span>
        <br>
        <span class="stock_price">{{ indexdata[0] }}</span>
        <span class="stock_percentage">{{ "+" if indexdata[1] >= 0}}{{ indexdata[1] }}%</span>
        </div>
    {% endfor %}
</div>
<footer>Last updated : {{ updated_time }}</footer>